:host {
	display: inline-block;
}
.link {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	.text {
		position: relative;
		display: inline-block;
		flex: 0 0 auto;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		font-family: sans-serif;
		font-size: 1.5rem;
		font-weight: 700;
		color: red;
		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 0.25rem;
			bottom: 0;
			left: 0;
			background-color: red;
			transition-property: width;
			transition-duration: 250ms;
		}
	}
	&:hover {
		.text {
			&::after {
				width: 100%;
			}
		}
	}
	.arrow {
		flex: 0 0 auto;
		width: auto;
		height: 2rem;
		path {
			fill: red;
		}
	}
}